<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FernBusIndonesia2.Properties.Settings.ScheduleBusConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\ScheduleBus.accdb" providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EyeSoft.Windows" publicKeyToken="f52adcc2e30d4b8f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.6633.19873" newVersion="3.0.6633.19873" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>